/*
Colors used:
Primary Color (Grey): #EDEDED;
Secondary Color (Black): #0D0D0D;
Tertiary color (orange): #FF704D;
Quatro color (Blue): #003EB3;
*/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-Color: #EDEDED;
  width: 100%;
  padding: 0px;
  margin: 0px;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  color: #0D0D0D;
}

header {
  position: fixed;
  width: 100%;
  padding: 10px 0;
  margin: 0;
  text-align: center;
  background-color: #EDEDED;
  box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.41);
}

h1, h2, h3, h4 {
  line-height: 1.1;
}

h1 {
  font-size: 2.5em;
  font-weight: 800;
  text-align: left;
}

h2 {
  font-size: 1.60em;
  font-weight: 800;
  line-height: 1.2;
  text-align: left;
}

h3 {
  font-size: 1.50em;
  font-weight: 600;
  margin: 6px;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #0D0D0D;
  text-decoration: none;
  /* No underlining */
}

a:hover {
  color: #0D0D0D;
  /* Underlining when hovering over a link */
}

a:visited {
  /* visited link */
  color: #ededed;
}

a:active {
  /* selected link */
  color: #0D0D0D;
}

a:hover {
  color: #EDEDED;
}

a:focus {
  color: #EDEDED;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: ##FF704D;
}

nav>ul>li>a:visited {
  color: #0D0D0D;
}

nav>ul>li>a:hover {
  color: ##FF704D;
}

nav>ul>li>a:active {
  color: ##FF704D;
}

main {
  padding-top: 102px;
}

footer>ul {
  display: inline-block;
  padding: 0;
  list-style-type: none;
}

footer>ul>li {
  display: inline-block;
}

footer>ul>li>a {
  display: inline-block;
}

.button {
  display: inline-block;
  padding: 10px;
  font-size: .7em;
  font-weight: 700;
  letter-spacing: 0.15em;
  color: #EDEDED;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #0D0D0D;
  border-radius: 3px;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  background-color: #FF704D;
}

.button:active {
  color: #EDEDED;
}

.button.contact {
  padding: 12px 24px;
  margin: 16px;
  font-weight: 700;
  letter-spacing: 0.15em;
  color: #0D0D0D;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #0D0D0D;
  border-radius: 6px;
  width: auto;
}

.button.contact:hover {
  color: #ededed;
  background-color: #0D0D0D;
  border: 2px solid #0D0D0D;
}

.smallimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 16vw;
  min-width: 250px;
}

.button.cv {
  margin: auto;
  letter-spacing: 0.05em;
  color: #EDEDED font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #FF704D;
  border: 2px solid #0D0D0D;
  border-radius: 12px;
}

.button.cv:hover {
  color: #ededed;
  background-color: #0D0D0D;
}

/* Layout styling */
.container {
  padding: 16px;
}

.icon-container {
  display: inline-block;
  margin: 8px;
  vertical-align: middle;
}

.row {
  margin: 25px 0;
  /*25px top and bottom, 0 left and right*/
}

.row::after {
  display: table;
  clear: both;
  content: "";
}

.social-icon {
  display: inline-block;
  max-width: 32px;
  margin-right: auto;
  margin-left: auto;
  color: #ededed;
}

#work .container {
  padding: 16px;
}

#hero {
  margin-top: 60px;
  padding: 20px 16px;
  background-color: #ededed;
}

#hero h1 {
  /*centers text*/
  margin: 0;
  text-align: center;
  background-color: #ededed;
}

#hero h2 {
  /*centers text*/
  padding: 10px;
  margin: 0;
  text-align: center;
  background-color: #ededed;
}

#hero span {
  display: block;
}

#about {
  display: inline-block;
  width: 100%;
  padding: 20px 0px;
  margin: 8px;
  background-color: #ededed;
}

#contact {
  display: inline-block;
  background-color: #FF704D;
  width: 100%;
  padding: 16px;
  text-align: center;
}

#contact h2{
  color: #0d0d0d;
  text-align: center;
}

#contact p{
  color: #0D0D0D;
}

#header {
  padding: 12px;
}

#footer {
  color: #0d0d0d;
}
.center {
  width: 50%;
  padding: 10px margin: auto;
  text-align: center;
}

.logo {
  max-width: 250px;
  text-align: center;
}

/* CSS Animation */

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
  }

.sun {
  animation: 4s color-change infinite alternate linear;
}


@keyframes cloud-move {
  from {transform: translate(-400px,50px);}
  to {transform: translate(400px,50px);}
}

@keyframes cloud-back-move {
  from {transform: translate(0px,400px);}
  to {transform: translate(800px,400px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 30s cloud-move infinite alternate linear;
  animation: 34s cloud-move-reverse infinite alternate linear;
}

transition: [transition-property] [transition-duration] [transition-timing-function] [transition-delay];

[class*="col-"] {
  float: left;
  padding: 10px;
}

/* Media Queries */
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  nav {
    float: right;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
  }

  main {
    padding-top: 80px;
  }

  body {
    font-size: 18px;
  }

  #hero {
    text-align: center;
  }

  #hero span {
    display: block;
  }

  .col-md-6 {
    width: 50%;
  }

  h3 {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-top: 0;
  }

  #about {
    padding-top: 80px;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .container {
    max-width: 1200px;
  }

  header {
    text-align: unset;
  }

  nav {
    float: right;
    width: auto;
    margin-top: auto;
    margin-bottom: auto;
  }

  #hero span {
    display: block;
  }

}

/* ==============================
X-large devices (1440px or larger)
================================= */


/* ==============================
Extra-large devices (1920px or larger)
================================= */
